django>3.2,<3.3
python-decouple==3.6
django-crispy-forms==1.14.0

# Django rest framework
djangorestframework
markdown
django-filter
coreapi
drf-yasg[validation]
djangorestframework-simplejwt
django-cors-headers

# Reformat, Linting and Tests
black
flake8
pytest
pytest-django

# Background Process
celery
redis

# Add dummy data
Faker

# Scraping weather
requests
bs4